body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 5, 18);
    color:rgb(205, 198, 179)255, 179, 0;
}
 
model-viewer {
    --poster-color: transparent;
    --progress-bar-color: rgba(124, 23, 23, 0.5);
    --progress-mask: transparent;
    --progress-container-color: transparent;
    /* background-image: url(../images/hero.png); */

}
h2 {
    font-size: 1.5rem;
    padding-left: 150px;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(49, 0, 0, 0.8);
}
p{
    color: rgb(0, 0, 0);
    padding-left: 150px;
}

.chairdiv {
    width: 100%;
    color: rgb(255, 191, 0);
    padding-top: 10PX;
}

.chairdiv{
    background-color: rgb(203, 183, 140);
}

.chairmodel{
    padding-left: 100px;
}

#hero-image{
    padding-left: 400px;
    height: 600px;
    width: 700px;
}